.timerContainer {
  font-family: 'Chivo', sans-serif;
  padding: 3em;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.timerText, .smallTimerText {
  color: #ffffff;
}

.timerTextSkeleton {
  height: 18px;
  width: 30%;
}

.timerDivider {
  height: 200px;
}

.timerCountdown {
  color: #DAFD04;
  font-weight: 700;
  font-size: 65px;
  margin: 0;
}

.timerPink {
  color: #f5054f;
}

.blink {
  animation: blinker 1s linear infinite;
}

.timerCountdownSkeleton {
  height: 77px;
  width: 60%;
}

.timerCountdownSkeleton, .smallTimerCountdownSkeleton {
  background: linear-gradient(-90deg, #dafd04 0%, #d8fb05 50%, #e2fd04 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

.smallTimer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.smallTimerText {
  margin-bottom: 0;
  margin-right: 16px;
}

.smallTimerCountdown {
  font-weight: 400;
  font-size: 40px;
  margin: 0;
  color: #DAFD04;
}

.smallTimerTextSkeleton {
  width: 126px;
  height: 19px;
  margin-right: 16px;
}

.smallTimerCountdownSkeleton {
  width: 167px;
  height: 48px;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%
  }
  100% {
    background-position: -135% 0%
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}