.mobileGrid {
  display: flex;
  flex-direction: column;
}

.mobileTopbar {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mobileSidebar {
  width: 50px;
  height: 100%;
  position: absolute;
  border-right: 1px solid;
}

.mobileContent {
  margin: 50px 0 0 50px;
}

.grid {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}

.sidebar {
  display: block;
  min-width: 350px;
  flex-grow: 1;
  border-right: 1px solid;
  padding: 2.3em;
}

.content {
  flex-grow: 4;
  height: 100%;
}

.logo {
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
  font-size: 160px;
  color: #ffffff;
}

.third, .fifth {
  text-align: right;
}

.first, .neon {
  color: #DAFD04;
}

.navigationAbout {
  max-width: 55px;
  margin-left: -8px;
  font-family: 'Chivo', sans-serif;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.navigationAbout > a  {
  font-size: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.navigationAbout > a:hover, .navigationTexts > a:focus {
  color: black;
}