.navigationGrid {
  display: flex;
  flex-direction: row;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 5em;
}

.navigationEmpty {
  flex-grow: 3;
  border-right: 1px solid;
}

.navigationTexts, .navigationAuth {
  font-family: 'Chivo', sans-serif;
}

.navigationTexts {
  flex-grow: 4;
  padding-top: 2em;
  padding-left: 2em;
  border-right: 1px solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navigationTexts > a, .navigationAuth > a  {
  color: black;
  text-decoration: none;
  text-align: left;
}

.navigationTexts > a:hover, .navigationTexts > a:focus,
.navigationAuth > a:hover, .navigationAuth > a:focus {
  color: black;
}

.navigationAuth {
  width: 120px;
  padding-top: 2em;
  padding-left: 2em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.signoutButton {
  border: none;
  background: none;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Chivo', sans-serif;
}

.signoutButton:hover {
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}