.navigationGrid {
  display: flex;
  flex-direction: row;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  height: 5em;
}

.navigationEmpty {
  flex-grow: 3;
  border-right: 1px solid;
}

.navigationTexts, .navigationAuth {
  font-family: 'Nunito', sans-serif;
}

.navigationTexts {
  flex-grow: 4;
  border-right: 1px solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navigationTexts > a, .navigationAuth > a  {
  color: black;
  text-decoration: none;
  text-align: center;
}

.navigationTexts > a:hover, .navigationTexts > a:focus,
.navigationAuth > a:hover, .navigationAuth > a:focus {
  color: black;
}

.navigationAuth {
  width: 120px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.signoutButton {
  border: none;
  background: none;
  margin: auto;
}

.signoutButton:hover {
  cursor: pointer;
}