.timer {
  margin-left: 50%;
  text-align: right;
  border-bottom: 1px solid;
}

.textContainer {
  flex-grow: 4;
  display:flex;
  flex-direction: column;
  padding: 0;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
}

.title {
  color: #ffffff;
}

.textBlock {
  padding: 3em;
  border-bottom: 1px solid;
}

.lastTextBlock {
  padding: 3em;
  border-bottom: 0;
}

.text {
  word-break: break-all;
}

@media only screen and (min-width: 900px) {
  .textWrapper:nth-child(odd) {
    padding-left: 50%;
    text-align: right;
  }
  
  .textWrapper:nth-child(even) {
    padding-right: 50%;
    text-align: left;
  }
}

