.container {
  display:flex;
  flex-direction: column;
  padding: 1em;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.textContent {
  word-break: break-all;
}

@media only screen and (min-width: 900px) {
  .container {
    padding: 3em;
  }
  
  .textWrapper:nth-child(even) {
    padding-left: 50%;
    text-align: right;
  }
  
  .textWrapper:nth-child(odd) {
    padding-right: 50%;
    text-align: left;
  }
}

